body{
    background-color: rebeccapurple;
}
section{
    width: 100%;
    min-height: 300px;
    background-color: darkorange;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
}

