.boy{
    width: 200px;
    height: 200px;
    background-color: black;
    
}
.bag{position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;
    top: 80%;
    
    
}

12 17 15 20 18