.mobile{
    width: 100%;
    height: 300px;
    background-color: orangered;
}

@media (max-width: 768px) {
    .mobile{
        width: 80%;
        background-color: darkblue;
        margin: 50px;
        border-radius: 50px;

    }
}



@media (max-width: 370px){
.mobile{
    width: 50%;
    background-color: cyan;
    margin: 100px;
    border-radius: 50%;
}



}






